body {
  background-color: white;
  width: 100%;
  padding: auto;
}
h2 {
  font-weight: 600;
  text-shadow: 1px 1px grey;
}
a {
  color:rgb(185, 22, 109);
  text-decoration: none;
}
a:hover {
cursor: pointer;
text-decoration: underline;
transition: 2.5ms:
}
.toggle-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-switc::before {
  
}